<div class="cintainer-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="user-wrapper">
                <ul class="users">
                    <li class="user">
                        <span class="pending">1</span>

                        <div class="media">
                            <div class="media-left">
                                <img src="https://via.placeholder.com/150" alt="" class="media-object">
                            </div>

                            <div class="media-body">
                                <p class="name">aaaaaa</p>
                                <p class="email">zzzzzzzz</p>
                            </div>
                        </div>
                    </li>
                    <li class="user">
                        <span class="pending">1</span>

                        <div class="media">
                            <div class="media-left">
                                <img src="https://via.placeholder.com/150" alt="" class="media-object">
                            </div>

                            <div class="media-body">
                                <p class="name">aaaaaa</p>
                                <p class="email">zzzzzzzz</p>
                            </div>
                        </div>
                    </li>
                    <li class="user">
                        <span class="pending">1</span>

                        <div class="media">
                            <div class="media-left">
                                <img src="https://via.placeholder.com/150" alt="" class="media-object">
                            </div>

                            <div class="media-body">
                                <p class="name">aaaaaa</p>
                                <p class="email">zzzzzzzz</p>
                            </div>
                        </div>
                    </li>
                    <li class="user">
                        <span class="pending">1</span>

                        <div class="media">
                            <div class="media-left">
                                <img src="https://via.placeholder.com/150" alt="" class="media-object">
                            </div>

                            <div class="media-body">
                                <p class="name">aaaaaa</p>
                                <p class="email">zzzzzzzz</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8" id="messages"> 
            <div class="message-wrapper">
                <ul class="messages">
                    <li class="message clearfix">
                        <div class="sent">
                            <p>Zeynebbbbbb</p>
                            <p class="date">1sep</p>
                        </div>
                    </li>

                    <li class="message clearfix">
                        <div class="received">
                            <p>Zeynebbbbbb</p>
                            <p class="date">1sep</p>
                        </div>
                    </li>

                    <li class="message clearfix">
                        <div class="sent">
                            <p>Zeynebbbbbb</p>
                            <p class="date">1sep</p>
                        </div>
                    </li>

                    <li class="message clearfix">
                        <div class="received">
                            <p>Zeynebbbbbb</p>
                            <p class="date">1sep</p>
                        </div>
                    </li>

                    <li class="message clearfix">
                        <div class="sent">
                            <p>Zeynebbbbbb</p>
                            <p class="date">1sep</p>
                        </div>
                    </li>

                    <li class="message clearfix">
                        <div class="received">
                            <p>Zeynebbbbbb</p>
                            <p class="date">1sep</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="input-text">
                <input type="text" name="message" class="submit">
            </div>
            
        </div>
    </div>
</div>















<img src="../../../../images/41718866-love-message-icon.jpg" class="rounded float-start" alt="...">

